.s-social {
  font-size: 0.875rem;
  font-weight: 600;

  &__list {
    margin: 0;
  }

  &__item {
    margin: 0;
    display: inline-block;

    & + & {
      margin-left: 0.5rem;
    }
  }

  &__link {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid $primary-color;
    position: relative;
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
  }
}