mixin modal

  #myModal.s-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .s-modal__inner.modal-content
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        h4#myModalLabel.s-modal__title Заказать обратный звонок
        p.s-modal__desc.
          Если вы хотите, чтобы мы сами дозвонились до Вас, то просто оставьте заявку
        .s-modal__form
          +form()
            .row
              .col-xs-6
                +field-text({
                  title: 'Ваше имя',
                  attrs: {}
                })
              .col-xs-6
                +field-text({
                  title: 'Ваш телефон',
                  attrs: {}
                })
              .col-xs-12
                +field-text({
                  title: 'Комментарий',
                  attrs: {}
                })
              .col-xs-12
                +field-actions
                  +btn('Отправить')