.s-modal {

  &__inner {
    padding: 2rem 1rem;
    text-align: center;

    @media (min-width: $screen-sm) {
      padding: 3rem 2rem;
    }
  }

  &__title {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  &__desc {
    color: $text-color--muted;
  }

  &__form {
    text-align: left;
    margin-top: 1.5rem;

    .s-field-actions {
      text-align: center;
    }
  }
}