.s-promo {
  background-color: $primary-color;
  color: $text-color--lightest;
  background-image:
    linear-gradient(
      to top,
      rgba(7,7,7,0.4),
      ease-in-out,
      rgba(7,7,7,0.4)
    ),
    url(../img/promo-bg.jpg);
  min-height: 400px;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;

  @media (min-width: $screen-md) {
    min-height: 1050px;
    padding-top: 12rem;
    padding-bottom: 12rem;
  }

  &__title,
  &__desc {
    color: currentColor;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.015em;
    margin-bottom: 4rem;

    @media (min-width: $screen-md) {
      font-size: 3.5rem;
      line-height: 5.4rem;
    }

    > span {
      font-weight: 700;

      @media (min-width: $screen-md) {
        font-size: 4.25rem;
      }
    }
  }

  &__actions {

    .s-btn {
      margin-bottom: 1rem;

      @media (min-width: $screen-md) {
        min-width: 380px;
        margin-bottom: 0;
      }
    }
  }
}