mixin promo

  section.s-promo
    .container
      .s-promo__info
        h1.s-promo__title
          | Доставка обедов в офис
          br
          span СПб Бесплатно
        p.s-promo__desc
          | Ежедневно на выбор
          br
          span разнообразное меню по 180 руб
      .s-promo__actions
        .row
          .col-xs-12.col-sm-6.col-lg-5.col-lg-offset-1
            +btn('Заказать звонок', 'big-size')(type='button', data-toggle='modal', data-target='#myModal')
          .col-xs-12.col-sm-6.col-lg-5
            +btn('Заказать обед', 'ghost, big-size')(type='button', data-toggle='modal', data-target='#myModal')