mixin menu-example

  .s-menu-example
    .s-menu-example__header
      .row
        .col-xs-6
          time.s-menu-example__date(datetime='07-30') 30.07
        .col-xs-6
          span.s-menu-example__price 180 руб.
    .s-menu-example__info
      ul.s-menu-example__list
        li.s-menu-example__item
          | Суп «Лапша домашняя»
          span 350 г, 150 ккал
          |  /
          | Каша молочная геркулесовая с яблоком
          span 270 г, 200 ккал
        li.s-menu-example__item
          | Салат «Браво»
          span (ветч.,св.огур.,рис,яйцо,май.,зелень) 350 г, 150 ккал
          |  /
          | Салат «Фитнес»
          span (св.кап.,морк.,зел.ябл.,раст.масло,зелень) 350 г, 150 ккал
        li.s-menu-example__item
          | Свинина тушёная с черносливом
          span 350 г, 150 ккал
          |  /
          | Котлеты куриные
          span 350 г, 150 ккал
        li.s-menu-example__item
          | Картофель отварной
          span 350 г, 150 ккал
          |  /
          | Рис
          span 350 г, 150 ккал
          |  /
          | Греча
          span 350 г, 150 ккал
          |  /
          | Макаронные изделия
          span 350 г, 150 ккал
          |  /
          | Капуста тушёная
          span 350 г, 150 ккал
        li.s-menu-example__item
          | Дополнительный гарнир:
          br
          | Картофель с обжаренным луком и укропом
          span 350 г, 150 ккал
          |  -
          b  60 рублей