.s-menu-example {
  background-color: $bg-color--default;
  border-radius: $border-radius;
  overflow: hidden;
  box-shadow: $box-shadow;
  margin: 1rem;

  &__header {
    min-height: 52px;
    background-color: $primary-color;
    line-height: 52px;
    color: $text-color--lighter;
    font-weight: 600;
    padding: 0 1rem;
  }

  &__price {
    display: block;
    text-align: right;
  }

  &__info {
    padding: 2rem 1rem;
  }

  &__list {
    line-height: 1.5rem;
    margin: 0;
  }

  &__item {
    margin-left: 0;
    font-size: 0.875rem;

    @media (min-width: $screen-sm) {
      font-size: 1rem;
    }

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    span {
      color: $text-color--muted;
      font-size: 0.675rem;

      @media (min-width: $screen-sm) {
        font-size: 0.75rem;
      }
    }
  }
}
