.s-breadcrumb {
  padding: 0;
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: $text-color;

  a {
    color: $text-color;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $text-color;
      text-decoration: none;
    }
  }

  &__item {
    display: inline-block;
    margin-right: 0.6em;
    white-space: nowrap;

    &:not(:last-child):after {
      content: '>';
      display: inline-block;
      margin-left: 0.8rem;
      color: $gray;
    }
  }
}