.s-page-header {
  position: relative;

  &__main-info {

    @media (min-width: $screen-md) {
      background-color: $bg-color--lighter;
      color: $primary-color;
    }
  }

  &__inner {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;

    &::after {
      display: table;
      content: '';
      clear: both;
    }
  }

  &__first-section {
    background-color: $primary-color;
    position: relative;
    padding: 0 1rem;

    @media (min-width: $screen-md) {
      background-color: transparent;
      float: left;
      width: 107px;
      padding: 0;
    }
  }

  &__second-section {
    background-color: $bg-color--lighter;
    color: $primary-color;
    padding: 0 1rem;

    @media (min-width: $screen-md) {
      float: left;
      width: calc(100% - 107px);
      padding: 0;
      padding-top: 0.5rem;
    }

    &::after {
      content: '';
      display: table;
      clear: both;
    }
  }

  &__slogan,
  &__opening-hours,
  &__social,
  &__contact {
    float: left;
    width: 50%;
    min-height: 110px;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.5rem;
    padding: 0.5rem;

    a {
      color: currentColor;
    }

    @media (min-width: $screen-sm) {
      width: 25%;
      padding: 1rem;
    }

    @media (min-width: $screen-lg) {
      width: 20%;
    }
  }

  &__actions {
    display: none;
    padding: 0.5rem;

    .s-btn {

      &:not(:first-child) {
        margin-top: 1rem;
      }
    }

    @media (min-width: $screen-lg) {
      display: block;
      float: left;
      width: 20%;
    }
  }

  &__slogan {
    vertical-align: middle;
    display: inline-block;
  }

  &__hamburger {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translate3d(0,-50%,0);

    @media (min-width: $screen-sm) {
      display: none;
    }
  }

  &__info-group {
    min-height: 100px;
  }

  &__contact-list {
    margin: 0;
  }

  &__contact-item {
    margin-left: 0;
  }

  &__contact-link {
    color: currentColor;
  }

  &__nav {
    display: none;
    background-color: $primary-color;
    color: $text-color--lighter;
    box-shadow: 0px 0px 7.76px 0.24px rgba(0, 0, 0, 0.42);
    position: relative;
    z-index: 2;

    @media (max-width: ($screen-sm - 1)) {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      display: block;
    }

    @media (min-width: $screen-sm) {
      display: block;

      .navbar-nav {
        width: 100%;
        text-align: center;
      }

      .navbar-nav > li {
        float: none;
        display: inline-block;

        &:not(:last-child) {
          margin-right: 0.5rem;
        }
      }

      .navbar-nav > li > a {
        color: currentColor;
        font-weight: 600;
        font-size: 1.5rem;

        &:hover,
        &:focus {
          background-color: transparent;
        }
      }
    }
  }

  .nav .open > a,
  .nav .open > a:focus,
  .nav .open > a:hover {
    border: 0;
    background-color: transparent;
    color: currentColor;
  }

  .navbar-nav > li {
    margin-left: 0;
  }

  .navbar-nav > li > a {
    background-color: transparent;
    color: $text-color--lighter;
  }

  .dropdown-menu {
    background-color: $primary-color;
    color: $text-color--lighter;
    min-width: 284px;

    @media (min-width: $screen-sm) {
      padding: 1.5rem 2rem;
    }
  }

  .dropdown-menu > li {

    &:not(:first-child) {

      @media (min-width: $screen-sm) {
        border-top: 1px solid currentColor;
      }
    }
  }

  .dropdown-menu > li > a {
    font-size: 1.125rem;
    color: $text-color--lighter;
    padding: 1rem 0 0.75rem;
    opacity: 0.5;

    @media (min-width: $screen-sm) {
      opacity: 1;
    }

    &:hover,
    &:focus {
      color: currentColor;
      background-color: transparent;
    }
  }
}