mixin page-header(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +page-header()
      div header content

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-header--' + modsList[i].trim();
      }
    }

  header.s-page-header(class=allMods, role='banner')&attributes(attributes)
    .s-page-header__main-info
      .s-page-header__inner

        .s-page-header__first-section

          .s-page-header__logo
            +logo('/')
              img(src='img/logo.png', alt='Logo', width='107', height='167')
          .s-page-header__hamburger
            +hamburger().navbar-toggle.collapsed(data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='false')

        .s-page-header__second-section

          .s-page-header__slogan
              img(src='img/slogan.png', alt='Slogan', width='169', height='77')

          .s-page-header__opening-hours
            | Режим работы:
            br
            |  Ежедневно
            br
            |  с 10:00 до 19:00

          .s-page-header__social
            a(href='mailto:mail@splet.ru') mail@splet.ru
            .s-social
              span.s-social__title Социальные сети:
              ul.s-social__list
                li.s-social__item
                  a(href='/', target='_blank', rel='noopener').s-social__link
                    .s-social__icon.facebook
                li.s-social__item
                  a(href='/', target='_blank', rel='noopener').s-social__link
                    .s-social__icon.vk
                li.s-social__item
                  a(href='/', target='_blank', rel='noopener').s-social__link
                    .s-social__icon.instagram

          .s-page-header__contact
            ul.s-page-header__contact-list
              li.s-page-header__contact-item
                a.s-page-header__contact-link(href='tel:+78127155333') (812) 715-53-33
              li.s-page-header__contact-item
                a.s-page-header__contact-link(href='tel:+78126423750') (812) 642-37-50
              li.s-page-header__contact-item
                a.s-page-header__contact-link(href='tel:+78122303817') (812) 230-38-17 (факс)

          .s-page-header__actions
            +btn('Заказать звонок')(type='button', data-toggle='modal', data-target='#myModal')
            +btn('Заказать обед')(type='button', data-toggle='modal', data-target='#myModal')

    .s-page-header__nav
      .container
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul#menu-glavnoe-menju.nav.navbar-nav
            li#menu-item-42.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-42.dropdown
              a.dropdown-toggle(href='#', data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") О компании
              ul.sub-menu.dropdown-menu
                li#menu-item-50.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-50
                  a(href='/news/') Новости
                li#menu-item-51.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-51
                  a(href='/guestbook/') Отзывы
                li#menu-item-52.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-52
                  a(href='/reciepe/') Рецепты
                li#menu-item-54.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-54
                  a(href='http://splet.springbay.ru/partnery/') Партнеры
                li#menu-item-53.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-53
                  a(href='http://splet.springbay.ru/documents/') Документы
            li#menu-item-41.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-41
              a(href='http://splet.springbay.ru/stock/') Акции
            li#menu-item-46.dropdown.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-46
              a.dropdown-toggle(href='#', data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Меню
              ul.sub-menu.dropdown-menu
                li#menu-item-49.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-49
                  a(href='http://splet.springbay.ru/lunch/') Заказ
                li#menu-item-48.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-48
                  a(href='http://splet.springbay.ru/bakery/') Пекарня
                li#menu-item-47.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-47
                  a(href='http://splet.springbay.ru/pancakes/') Блины
            li#menu-item-40.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-40
              a(href='http://splet.springbay.ru/order/') Цены
            li#menu-item-45.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-45
              a(href='http://splet.springbay.ru/kontakty/') Контакты



