@mixin field-help-text {
  $text-color--muted:         hsl(0, 0%, 50%) !default;
  $font-size--small:          0.75em !default;

  display: block;
  padding-top: 0.4em;
  font-size: $font-size--small;
  line-height: 1.2em;
  color: $text-color--muted;

  &:empty {
    display: none;
  }
}


@mixin field-focus {
  $color-main:                hsl(208, 98%, 43%) !default;
  $opacity:                   0.7 !default;

  outline: 0;
  box-shadow: 0px 0px 6.79px 0.21px rgba(45, 41, 33, 0.16);
}


@mixin field-name {
  $line-height:                 1.375em !default;

  display: block;
  line-height: $line-height;
  font-weight: 400;
  color: $text-color--muted;
}
