$font-family: Gilroy, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

$font-family--heading: 'Source Sans Pro', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', ns-serif;

$font-family--sans-serif: 'Times New Roman', Times, Georgia, ns-serif;

$font-family--monospace: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', nospace;

$font-variable: false;
$font-family--variable: 'Source Sans Pro Variable', sans-serif;

$bodytype: (
  font-family: $font-family,
  regular: 400,
  bold: 700,
  italic: italic
) !default;

$headingtype: (
  font-family: $font-family,
  regular: 600,
  bold: 700
) !default;

$monospacetype: (
  font-family: $font-family--monospace,
  regular: 400
) !default;

$base-font-size: 160; // Gets used as %, converts to 16px
$base-font-size--phablet: 112.5; // Gets used as %, converts to 18px
$base-font-size--desktop: 125; // Gets used as %, converts to 20px

$line-height: 1.875;
$line-height--phablet: 1.5;
$line-height--desktop: 1.8;

$base: ($base-font-size / 100); // We'll need this for some calculations

$phablet-breakpoint: 375px;
$tablet-breakpoint: 992px;

// Modular scale
$ratio: 1.5; // Perfect Fifth


// pow and ms functions
@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number; // Multiply by $number if exponent less than zero
    }
  } @else if $exponent < 0 {
    @for $i from 1 through -$exponent {
      $value: $value / $number; // Divide by $number if exponent less than zero
    }
  }

  @return $value;
}

@function ms($value, $ms-ratio: $ratio, $ms-base: $base) {
  $size: pow($ms-ratio, $value) * $ms-base;
  @return #{ $size + 'rem' };
}

// Vertical rhythm
@function line-height($number) {
  @return #{ $number * $line-height + 'rem' };
}

@function margin($number) {
  @return #{ $number * $line-height + 'rem'};
}

$font-size--small:            ms(-1);

$breakpoints: (
  small:   0,
  medium:  375px,
  large:   992px
);

$text-sizing: (
  base: (
    small: (
      font-size: 16px,
      line-height: line-height(1)
    )
  ),
  alpha: (
    small: (
      font-size: ms(2.5),
      line-height: line-height(1),
      margin-top: margin(2),
      margin-bottom: margin(1)
    )
  ),
  beta: (
    small: (
      font-size: ms(2),
      line-height: line-height(1),
      margin-top: margin(2),
      margin-bottom: margin(1)
    )
  ),
  gamma: (
    small: (
      font-size: ms(1.5),
      line-height: line-height(2),
      margin-top: margin(2),
      margin-bottom: margin(0.5)
    )
  ),
  delta: (
    small: (
      font-size: ms(1),
      line-height: line-height(2),
      margin-top: margin(2),
      margin-bottom: margin(0.5)
    )
  ),
  epsilon: (
    small: (
      font-size: ms(0),
      line-height: line-height(1),
      margin-top: margin(1),
      margin-bottom: margin(0)
    )
  ),
  zeta: (
    small: (
      font-size: ms(0),
      line-height: line-height(1),
      margin-top: margin(1),
      margin-bottom: margin(0)
    )
  )
);

@function breakpoint ($breakpoint-name) {
  $breakpoint-value: map-get($breakpoints, $breakpoint-name);

  @if $breakpoint-value {
    @return $breakpoint-value;
  }

  @warn "Breakpoint '#{$breakpoint-name}' not found in $breakpoints";
}

@function text-breakpoints-for ($text-size) {
  $text-breakpoints: map-get($text-sizing, $text-size);

  @if $text-breakpoints {
    @return $text-breakpoints;
  }

  @warn "Text size '#{$text-size}' not found in $text-sizing";
}

@function text-properties-for ($text-size, $breakpoint-name) {
  $text-breakpoints: text-breakpoints-for($text-size);
  $text-properties: map-get($text-breakpoints, $breakpoint-name);

  @if $text-properties {
    @return $text-properties;
  }

  @warn "Breakpoint '#{$breakpoint-name}' for text size '#{$text-size}' was not found";
}

@mixin respond-above ($breakpoint-name) {
  $breakpoint-value: breakpoint($breakpoint-name);

  @if $breakpoint-value {
    @media (min-width: $breakpoint-value) {
      @content;
    }
  }
}

@mixin text-size ($text-size, $breakpoint-name: 'small') {
  $text-size-properties: text-properties-for($text-size, $breakpoint-name);

  @if $text-size-properties {
    font-size: map-get($text-size-properties, 'font-size');
    line-height: map-get($text-size-properties, 'line-height');
    margin-top: map-get($text-size-properties, 'margin-top');
    margin-bottom: map-get($text-size-properties, 'margin-bottom');
  }
}

@mixin responsive-text-size ($text-size, $default-breakpoint: 'small') {
  @include text-size($text-size, $default-breakpoint);

  $text-breakpoints-map: text-breakpoints-for($text-size);
  $text-breakpoints-keys: map-keys($text-breakpoints-map);

  @each $breakpoint-name in $text-breakpoints-keys {
    @if $breakpoint-name != $default-breakpoint {
      @include respond-above($breakpoint-name) {
        @include text-size($text-size, $breakpoint-name);
      }
    }
  }
}

$debug-rhythm: false;

@mixin debug-rhythm {
  background: linear-gradient(to bottom, rgba($gray, 0.3) 1px, transparent 1px);
  background-size: 100% #{$line-height + 'rem'};
}
