mixin description(mods, imgSrc)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-description--' + modsList[i].trim();
      }
    }

  section.s-description(class=allMods)&attributes(attributes)
    .s-description__cover
      img(src=imgSrc, alt='')
    .container
      .s-description__inner
        block