.s-description {
  position: relative;
  background-color: $bg-color--lighter;

  @media (min-width: $screen-md) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  &__cover {
    height: 300px;

    @media (min-width: $screen-md) {
      position: absolute;
      top: 0;
      width: 50%;
      height: 100%;
    }

    > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__inner {
    padding: 1rem 0;

    @media (min-width: $screen-md) {
      max-width: 50%;
    }

    .s-btn {
      margin-top: margin(1);
      background-color: $text-color--lighter;
      border-color: $text-color;
      color: $text-color;
      margin-bottom: 1rem;

      &--ghost {
        background-color: transparent;
        color: $text-color;
      }
    }
  }

  &__title {
    text-align: left;
  }

  &--align-left {

    @media (min-width: $screen-md) {

      .s-description__cover {
        left: 50%;
      }

      .s-description__inner {
        text-align: left;
        padding-right: 5vw;
      }
    }
  }

  &--align-right {

    @media (min-width: $screen-md) {
      text-align: right;

      .s-description__cover {
        left: 0;
      }

      .s-description__inner {
        text-align: left;
        padding-right: 0;
        padding-left: 5vw;
        width: 50%;
        display: inline-block;
      }
    }
  }

  &--image-smaller {

    @media (min-width: $screen-md) {

      .s-description__cover {
        top: 10%;
        height: 80%;
      }
    }
  }

  &--image-bigger {

    @media (min-width: $screen-md) {

      .s-description__cover {
        top: -10%;
        height: 120%;
        box-shadow: $box-shadow;
      }
    }
  }
}