/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@24-hours-name: '24-hours';
@24-hours-x: 0px;
@24-hours-y: 84px;
@24-hours-offset-x: 0px;
@24-hours-offset-y: -84px;
@24-hours-width: 83px;
@24-hours-height: 80px;
@24-hours-total-width: 286px;
@24-hours-total-height: 164px;
@24-hours-image: '../img/sprite-png.png';
@24-hours: 0px 84px 0px -84px 83px 80px 286px 164px '../img/sprite-png.png' '24-hours';
@calendar-name: 'calendar';
@calendar-x: 206px;
@calendar-y: 84px;
@calendar-offset-x: -206px;
@calendar-offset-y: -84px;
@calendar-width: 73px;
@calendar-height: 78px;
@calendar-total-width: 286px;
@calendar-total-height: 164px;
@calendar-image: '../img/sprite-png.png';
@calendar: 206px 84px -206px -84px 73px 78px 286px 164px '../img/sprite-png.png' 'calendar';
@cutlery-name: 'cutlery';
@cutlery-x: 206px;
@cutlery-y: 0px;
@cutlery-offset-x: -206px;
@cutlery-offset-y: 0px;
@cutlery-width: 80px;
@cutlery-height: 80px;
@cutlery-total-width: 286px;
@cutlery-total-height: 164px;
@cutlery-image: '../img/sprite-png.png';
@cutlery: 206px 0px -206px 0px 80px 80px 286px 164px '../img/sprite-png.png' 'cutlery';
@delivery-truck-name: 'delivery-truck';
@delivery-truck-x: 0px;
@delivery-truck-y: 0px;
@delivery-truck-offset-x: 0px;
@delivery-truck-offset-y: 0px;
@delivery-truck-width: 109px;
@delivery-truck-height: 80px;
@delivery-truck-total-width: 286px;
@delivery-truck-total-height: 164px;
@delivery-truck-image: '../img/sprite-png.png';
@delivery-truck: 0px 0px 0px 0px 109px 80px 286px 164px '../img/sprite-png.png' 'delivery-truck';
@food-name: 'food';
@food-x: 87px;
@food-y: 84px;
@food-offset-x: -87px;
@food-offset-y: -84px;
@food-width: 84px;
@food-height: 78px;
@food-total-width: 286px;
@food-total-height: 164px;
@food-image: '../img/sprite-png.png';
@food: 87px 84px -87px -84px 84px 78px 286px 164px '../img/sprite-png.png' 'food';
@purse-name: 'purse';
@purse-x: 113px;
@purse-y: 0px;
@purse-offset-x: -113px;
@purse-offset-y: 0px;
@purse-width: 89px;
@purse-height: 80px;
@purse-total-width: 286px;
@purse-total-height: 164px;
@purse-image: '../img/sprite-png.png';
@purse: 113px 0px -113px 0px 89px 80px 286px 164px '../img/sprite-png.png' 'purse';
@spritesheet-width: 286px;
@spritesheet-height: 164px;
@spritesheet-image: '../img/sprite-png.png';
@spritesheet-sprites: @24-hours @calendar @cutlery @delivery-truck @food @purse;
@spritesheet: 286px 164px '../img/sprite-png.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
