// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$calendar-name: 'calendar';
$calendar-x: 0px;
$calendar-y: 168px;
$calendar-offset-x: 0px;
$calendar-offset-y: -168px;
$calendar-width: 73px;
$calendar-height: 78px;
$calendar-total-width: 290px;
$calendar-total-height: 246px;
$calendar-image: '../img/sprite-png.png';
$calendar: (0px, 168px, 0px, -168px, 73px, 78px, 290px, 246px, '../img/sprite-png.png', 'calendar', );
$cutlery-name: 'cutlery';
$cutlery-x: 206px;
$cutlery-y: 82px;
$cutlery-offset-x: -206px;
$cutlery-offset-y: -82px;
$cutlery-width: 80px;
$cutlery-height: 80px;
$cutlery-total-width: 290px;
$cutlery-total-height: 246px;
$cutlery-image: '../img/sprite-png.png';
$cutlery: (206px, 82px, -206px, -82px, 80px, 80px, 290px, 246px, '../img/sprite-png.png', 'cutlery', );
$delivery-truck-name: 'delivery-truck';
$delivery-truck-x: 0px;
$delivery-truck-y: 0px;
$delivery-truck-offset-x: 0px;
$delivery-truck-offset-y: 0px;
$delivery-truck-width: 109px;
$delivery-truck-height: 80px;
$delivery-truck-total-width: 290px;
$delivery-truck-total-height: 246px;
$delivery-truck-image: '../img/sprite-png.png';
$delivery-truck: (0px, 0px, 0px, 0px, 109px, 80px, 290px, 246px, '../img/sprite-png.png', 'delivery-truck', );
$facebook-name: 'facebook';
$facebook-x: 195px;
$facebook-y: 99px;
$facebook-offset-x: -195px;
$facebook-offset-y: -99px;
$facebook-width: 7px;
$facebook-height: 13px;
$facebook-total-width: 290px;
$facebook-total-height: 246px;
$facebook-image: '../img/sprite-png.png';
$facebook: (195px, 99px, -195px, -99px, 7px, 13px, 290px, 246px, '../img/sprite-png.png', 'facebook', );
$food-name: 'food';
$food-x: 206px;
$food-y: 0px;
$food-offset-x: -206px;
$food-offset-y: 0px;
$food-width: 84px;
$food-height: 78px;
$food-total-width: 290px;
$food-total-height: 246px;
$food-image: '../img/sprite-png.png';
$food: (206px, 0px, -206px, 0px, 84px, 78px, 290px, 246px, '../img/sprite-png.png', 'food', );
$harvest-name: 'harvest';
$harvest-x: 0px;
$harvest-y: 84px;
$harvest-offset-x: 0px;
$harvest-offset-y: -84px;
$harvest-width: 86px;
$harvest-height: 80px;
$harvest-total-width: 290px;
$harvest-total-height: 246px;
$harvest-image: '../img/sprite-png.png';
$harvest: (0px, 84px, 0px, -84px, 86px, 80px, 290px, 246px, '../img/sprite-png.png', 'harvest', );
$hours-name: 'hours';
$hours-x: 90px;
$hours-y: 84px;
$hours-offset-x: -90px;
$hours-offset-y: -84px;
$hours-width: 83px;
$hours-height: 80px;
$hours-total-width: 290px;
$hours-total-height: 246px;
$hours-image: '../img/sprite-png.png';
$hours: (90px, 84px, -90px, -84px, 83px, 80px, 290px, 246px, '../img/sprite-png.png', 'hours', );
$instagram-name: 'instagram';
$instagram-x: 177px;
$instagram-y: 99px;
$instagram-offset-x: -177px;
$instagram-offset-y: -99px;
$instagram-width: 14px;
$instagram-height: 14px;
$instagram-total-width: 290px;
$instagram-total-height: 246px;
$instagram-image: '../img/sprite-png.png';
$instagram: (177px, 99px, -177px, -99px, 14px, 14px, 290px, 246px, '../img/sprite-png.png', 'instagram', );
$purse-name: 'purse';
$purse-x: 113px;
$purse-y: 0px;
$purse-offset-x: -113px;
$purse-offset-y: 0px;
$purse-width: 89px;
$purse-height: 80px;
$purse-total-width: 290px;
$purse-total-height: 246px;
$purse-image: '../img/sprite-png.png';
$purse: (113px, 0px, -113px, 0px, 89px, 80px, 290px, 246px, '../img/sprite-png.png', 'purse', );
$vk-name: 'vk';
$vk-x: 177px;
$vk-y: 84px;
$vk-offset-x: -177px;
$vk-offset-y: -84px;
$vk-width: 20px;
$vk-height: 11px;
$vk-total-width: 290px;
$vk-total-height: 246px;
$vk-image: '../img/sprite-png.png';
$vk: (177px, 84px, -177px, -84px, 20px, 11px, 290px, 246px, '../img/sprite-png.png', 'vk', );
$spritesheet-width: 290px;
$spritesheet-height: 246px;
$spritesheet-image: '../img/sprite-png.png';
$spritesheet-sprites: ($calendar, $cutlery, $delivery-truck, $facebook, $food, $harvest, $hours, $instagram, $purse, $vk, );
$spritesheet: (290px, 246px, '../img/sprite-png.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
