.s-btn {
  position: relative;
  display: inline-block;
  background-color: $primary-color;
  background-image: none;
  color: $text-color--lighter;
  margin: 0;
  padding: 0.7rem 1.25rem 0.55rem;
  border: 1px solid $primary-color;
  border-radius: 10em;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.015em;
  line-height: 1.2em;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
  min-width: 190px;

  &:hover,
  &:focus {
    background-color: $primary-color--variant;
    border-color: $primary-color--variant;
    text-decoration: none;
    color: $text-color--lighter;
  }

  &:active,
  &:focus {}

  &:visited {}

  &--big-size {
    font-size: 1.875rem;
    background-color: $primary-color--variant;
    border: 1px solid $primary-color--variant;
  }

  &--ghost {
    background-color: transparent;
  }

  &--disabled,
  &:disabled {
    cursor: not-allowed;
    color: $text-color--lightest;
    background-color: $text-color--muted;
    border-color: $text-color--muted;

    @at-root a.s-btn--disabled {
      pointer-events: none;
    }
  }
}