.s-main-subtitle {
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 0.015em;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;

  @media (min-width: $screen-sm) {
    font-size: 2.5rem;
    line-height: 3.75rem;
  }
}