.s-logo {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;

  img {
    display: inline-block;
    vertical-align: middle;

    & + & {
      display: none;

      @media (min-width: $screen-lg) {
        display: inline-block;
      }
    }
  }
}