.s-page-footer {
  background-color: $bg-color--darker;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: $text-color--lighter;

  &__subtitle {
    color: currentColor;
    margin: 0;
  }

  &__list {
    margin: 0;
    margin-bottom: 1rem;
  }

  &__item {
    margin: 0;
  }

  &__link {
    color: currentColor;

    &:hover,
    &:focus {
      color: currentColor;
    }
  }

  &__actions {
    padding: 1rem 0;

    @media (min-width: $screen-sm) {
      text-align: center;
    }

    @media (min-width: $screen-md) {
      text-align: right;
      padding: 0;
    }

    .s-btn {
      background-color: $text-color--lighter;
      border-color: $text-color--lighter;
      color: $text-color;
      margin-bottom: 1rem;

      @media (min-width: $screen-sm) {
        margin-bottom: 2rem;
      }

      &--ghost {
        background-color: transparent;
        color: $text-color--lighter;
      }
    }
  }
}