mixin page-footer(mods)

  //- Param:
    mods  {string} - modifiers

  //- Use:
    +page-footer()
      div footer content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-footer--' + modsList[i].trim();
      }
    }

  footer.s-page-footer(class=allMods, role='contentinfo')&attributes(attributes)
    .container
      .row
        .col-xs-12.col-sm-6.col-md-4
          .s-page-footer__contact
            h4.s-page-footer__subtitle Телефон:
            ul.s-page-footer__list
              li.s-page-footer__item
                a.s-page-footer__link(href='tel:+78127155333') (812) 715-53-33
              li.s-page-footer__item
                a.s-page-footer__link(href='tel:+78126423750') (812) 642-37-50
              li.s-page-footer__item
                a.s-page-footer__link(href='tel:+78122303817') (812) 230-38-17 (факс)
            h4.s-page-footer__subtitle E-mail:
            ul.s-page-footer__list
              li.s-page-footer__item
                a.s-page-footer__link(href='mailto:mail@splet.ru') mail@splet.ru
        .col-xs-12.col-sm-6.col-md-5
          .s-page-footer__last-news
            h4.s-page-footer__subtitle Последние новости:
            ul.s-page-footer__list
              li.s-page-footer__item
                a.s-page-footer__link(href='/') Компания СПЛЭТ заботится о качестве
              li.s-page-footer__item
                a.s-page-footer__link(href='/') Творческий конкурс-стихотворение о компании СПЛЭТ
              li.s-page-footer__item
                a.s-page-footer__link(href='/') Компания СПЛЭТ заботится о качестве
              li.s-page-footer__item
                a.s-page-footer__link(href='/') Творческий конкурс-стихотворение о компании СПЛЭТ
              li.s-page-footer__item
                a.s-page-footer__link(href='/') Компания СПЛЭТ заботится о качестве
              li.s-page-footer__item
                a.s-page-footer__link(href='/') Творческий конкурс-стихотворение о компании СПЛЭТ
        .col-xs-12.col-sm-12.col-md-3
          .s-page-footer__actions
            +btn('Заказать звонок')(type='button', data-toggle='modal', data-target='#myModal')
            +btn('Заказать обед', 'ghost')(type='button', data-toggle='modal', data-target='#myModal')
            +btn('Меню')

