mixin random-recipes

  section.s-random-recipes
    .container
      .s-random-recipes__title.s-main-subtitle Случайные рецепты
      ul.s-random-recipes__list
        li.s-random-recipes__item
          +random-recipe-card(
            'img/recipe-cover-1.jpg',
            'Корейка свиная с черносливом',
            'Свиную корейку лучше брать без кости. Нарезаем на два равных кусочка по 1 кг, добавляем в нее перец и соль и обжариваем на…',
            'align-right'
          )
        li.s-random-recipes__item
          +random-recipe-card(
            'img/recipe-cover-2.jpg',
            'Салат «Оливье»',
            'В отдельной посуде отварить филе курицы. Готовое мясо птицы нарезать тонкими полосками. Огурцы, лук и зелень петрушки…',
            'align-right'
          )
        li.s-random-recipes__item
          +random-recipe-card(
            'img/recipe-cover-3.jpg',
            'Томатный суп с базиликом',
            'Обжариваем порезанную луковицу и размельченный чеснок около 3 минут. Добавляем в смесь тмин и готовим еще полторы минуты…',
            'align-left'
          )
        li.s-random-recipes__item
          +random-recipe-card(
            'img/recipe-cover-4.jpg',
            'Яблочная шарлотка',
            'Для начала надо порезать наши яблоки на тонкие дольки. В них добавляем муку, сахарный песок, яйца и ванильный сахар…',
            'align-left'
          )