.s-random-recipes {
  background-color: $bg-color--darker;
  background-image: url(../img/random-recipes-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $text-color--lightest;
  padding-top: 1rem;
  padding-bottom: 1rem;

  @media (min-width: $screen-md) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  @media (min-width: $screen-lg) {
    padding-top: 6rem;
    padding-bottom: 8rem;
  }

  &__title {
    color: currentColor;
    margin-bottom: 4rem;
  }

  &__list {

    &::after {
      content: '';
      display: table;
      clear: both;
    }
  }

  &__item {
    margin: 0;

    @media (min-width: $screen-md) {
      float: left;
      width: 50%;
    }
  }
}