mixin advantages

  section.s-advantages
    h2.s-main-subtitle Преимущества
    .container
      ul.s-advantages__list.row
        li.s-advantages__item.col-xs-12.col-sm-6.col-md-4
          figure.s-advantages__figure
            .s-advantages__cover.calendar
            figcaption.s-advantages__caption Работаем ежедневно
        li.s-advantages__item.col-xs-12.col-sm-6.col-md-4
          figure.s-advantages__figure
            .s-advantages__cover.food
            figcaption.s-advantages__caption Европейская и русская кухни
        li.s-advantages__item.col-xs-12.col-sm-6.col-md-4
          figure.s-advantages__figure
            .s-advantages__cover.purse
            figcaption.s-advantages__caption Доступные цены
        li.s-advantages__item.col-xs-12.col-sm-6.col-md-4
          figure.s-advantages__figure
            .s-advantages__cover.cutlery
            figcaption.s-advantages__caption 3 варианта меню ежедневно
        li.s-advantages__item.col-xs-12.col-sm-6.col-md-4
          figure.s-advantages__figure
            .s-advantages__cover.delivery-truck
            figcaption.s-advantages__caption Работаем по Спб и ЛО
        li.s-advantages__item.col-xs-12.col-sm-6.col-md-4
          figure.s-advantages__figure
            .s-advantages__cover.hours
            figcaption.s-advantages__caption Прием заявок 24/7