.s-advantages {
  padding-top: 4rem;
  padding-bottom: 4rem;

  @media (min-width: $screen-md) {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  &__list {
    margin: 0;
    margin-top: 3rem;
  }

  &__item {
    margin-left: 0;
    text-align: center;
    margin-bottom: 2rem;
  }

  &__cover {
    margin: 1rem auto;
  }

  &__caption {
    font-size: 1.125rem;
    font-weight: 600;
  }
}