.s-briefly-about-us {
  background-color: $bg-color--default;
  color: $text-color--muted;
  padding-top: 4rem;
  padding-bottom: 4rem;

  @media (min-width: $screen-md) {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  &__title {
    max-width: $screen-sm;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;

    @media (min-width: $screen-md) {
      margin-bottom: 4rem;
    }
  }

  &__list {
    text-align: center;
  }

  &__item {
    margin-left: 0;
    margin-bottom: 2rem;

    @media (min-width: $screen-lg) {
      display: inline-block;
      width: 46%;
    }
  }

  &__figure {
    margin: 1rem auto;
    max-width: 40em;
  }

  &__cover {
    margin-bottom: 1rem;

    @media (min-width: $screen-sm) {
      display: inline-block;
      vertical-align: top;
    }
  }

  &__caption {
    max-width: 30em;
    text-align: left;

    @media (min-width: $screen-sm) {
      display: inline-block;
      vertical-align: top;
      padding-left: 2rem;
    }

    @media (min-width: $screen-lg) {
      width: calc(100% - 100px);
    }
  }
}