mixin briefly-about-us

  section.s-briefly-about-us
    .container
      h2.s-briefly-about-us__title.s-main-subtitle.
        Доставка обедов в Санкт-Петербурге от компании «СПЛЭТ» - это:
      ul.s-briefly-about-us__list
        li.s-briefly-about-us__item
          figure.s-briefly-about-us__figure
            .s-briefly-about-us__cover.cutlery
            figcaption.s-briefly-about-us__caption.
              Возможность заказать готовый обед с доставкой, выбрав подходящие блюда из меню. Ежедневно меню обновляется: клиентам доступно 2-3 варианта второго блюда и салата.
        li.s-briefly-about-us__item
          figure.s-briefly-about-us__figure
            .s-briefly-about-us__cover.purse
            figcaption.s-briefly-about-us__caption.
              Заказ комплексных обедов с доставкой по доступной цене – идеальный вариант для небольших и средних и крупных компаний.
        li.s-briefly-about-us__item
          figure.s-briefly-about-us__figure
            .s-briefly-about-us__cover.harvest
            figcaption.s-briefly-about-us__caption.
              Меню включает разные виды молочных каш с сухофруктами, свежими фруктами и ягодами.
        li.s-briefly-about-us__item
          figure.s-briefly-about-us__figure
            .s-briefly-about-us__cover.food
            figcaption.s-briefly-about-us__caption.
              Ежедневно доступное мясное, постное и специальное фитнес-меню для сторонников разных вариантов питания.