.s-specialization {
  background-color: $bg-color--darker;
  background-image: url(../img/specialization-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $text-color--lighter;
  padding-top: 4rem;
  padding-bottom: 4rem;

  @media (min-width: $screen-md) {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  &__inner {
    background-color: rgba(7,7,7,0.6);
    padding: 1rem;
    text-align: center;
    border: 2px solid $primary-color;

    @media (min-width: $screen-md) {
      padding: 3rem 2rem;
    }
  }

  &__title {
    color: currentColor;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  &__desc {

    @media (min-width: $screen-md) {
      font-size: 17px;
    }
  }
}