mixin specialization

  section.s-specialization
    .container
      .s-specialization__inner
        .row
          .col-xs-12
            h2.s-specialization__title.
              Приготовление и доставка обедов, выпечки – наша основная специализация.
            p.s-specialization__desc.
              Мы поможем сделать бизнес-ланч полноценным: вкусным, доступным, полезным, разнообразным. Для этого в компании действует полный контроль качества на всех этапах: от закупки продуктов до приготовления и адресной доставки клиентам. Мы используем только свежие продукты: закупку производим ежедневно, ориентируясь на количество заказов. Приготовление ведется под руководством опытного шеф-повара. На ваш стол попадает также исключительно свежая выпечка, которую достали из печи этим утром. Наш 15-летний опыт разработки рационов позволит предлагать варианты сбалансированного питания с учетом предпочтений большинства заказчиков. Обедайте вкусно, дешево и по-домашнему с помощью компании «СПЛЭТ». Знакомьтесь с меню и оставляйте заявки на любые доступные блюда – мы доставим их максимально быстро. Выбирайте МЕНЮ и заказывайте онлайн, ассортимент с ценами на сайте, обновляем ежедневно. Предлагаем варианты обедов на 14 дней, каждый сезон происходит обновление ассортимента.