mixin special-offer-card(imgSrc, title)

  .s-special-offer-card
    .s-special-offer-card__cover
      img(src=imgSrc, alt='', width='360px', height='360px')
    .s-special-offer-card__info
      .s-special-offer-card__title #{title}