.s-special-offer-card {
  border-color: $bg-color--default;
  box-shadow: $box-shadow;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 1rem;

  &__cover {
    width: 100%;
    height: 260px;

    @media (min-width: $screen-sm) {
      height: 360px;
    }

    > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    padding: 1rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
  }
}