.s-random-recipe-card {
  background-color: $bg-color--default;
  position: relative;
  min-height: 260px;

  &__cover {
    width: 100%;
    height: 220px;

    > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    padding: 2rem 1rem;
    position: relative;
    text-align: left;

    &::before {
      position: absolute;
      content: '';
      border-style: solid;
      border-width: 0 22px 16px 22px;
      border-color: transparent transparent $bg-color--default transparent;
      bottom: 100%;
      left: 2rem;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  &__desc {
    font-size: 0.875rem;
    color: $text-color--muted;
    margin-top: 1rem;
    line-height: 1.5rem;
  }

  &--align-left {

    .s-random-recipe-card__cover {

      @media (min-width: $screen-sm) {
        width: 50%;
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
      }
    }

    .s-random-recipe-card__info {

      @media (min-width: $screen-sm) {
        display: inline-block;
        width: 50%;

        &::before {
          transform-origin: center;
          transform: rotate3d(0,0,1,90deg);
          left: auto;
          right: -30px;
          top: 3rem;
        }
      }
    }
  }

  &--align-right {

    @media (min-width: $screen-sm) {
      text-align: right;
    }

    .s-random-recipe-card__cover {

      @media (min-width: $screen-sm) {
        width: 50%;
        position: absolute;
        top: 0;
        height: 100%;
      }
    }

    .s-random-recipe-card__info {

      @media (min-width: $screen-sm) {
        display: inline-block;
        width: 50%;

        &::before {
          transform-origin: center;
          transform: rotate3d(0,0,1,-90deg);
          left: -30px;
          top: 3rem;
        }
      }
    }
  }
}