mixin random-recipe-card(imgSrc, title, desc, mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-random-recipe-card--' + modsList[i].trim();
      }
    }

  .s-random-recipe-card(class=allMods)&attributes(attributes)
    .s-random-recipe-card__cover
      img(src=imgSrc, alt='', width='285px', height='220px')
    .s-random-recipe-card__info
      h3.s-random-recipe-card__title #{title}
      p.s-random-recipe-card__desc #{desc}
