mixin menu

  section.s-menu
    h2.s-main-subtitle Меню
    .container
      .s-menu__tabs-wrap
        ul.s-menu__tabs-list.nav.nav-tabs(role='tablist')
          li.s-menu__tabs-item.active(role='presentation')
            a.s-menu__tabs-link(href='#home', aria-controls='home', role='tab', data-toggle='tab') Основное меню
          li.s-menu__tabs-item(role='presentation')
            a.s-menu__tabs-link(href='#profile', aria-controls='profile', role='tab', data-toggle='tab') Постное меню
          li.s-menu__tabs-item(role='presentation')
            a.s-menu__tabs-link(href='#messages', aria-controls='messages', role='tab', data-toggle='tab') Фитнесс меню
          li.s-menu__tabs-item(role='presentation')
            a.s-menu__tabs-link(href='#settings', aria-controls='settings', role='tab', data-toggle='tab') Выпечка
          li.s-menu__tabs-item(role='presentation')
            a.s-menu__tabs-link(href='#settings-2', aria-controls='settings', role='tab', data-toggle='tab') Блины
        .tab-content.s-menu__tabs-content
          h3.s-menu__tabs-content-title 30.07 - 04.08
          #home.tab-pane.active(role='tabpanel')
            +slick-carousel('menu-slider').s-menu__slider
              +menu-example
              +menu-example
              +menu-example
              +menu-example
              +menu-example
              +menu-example
          #profile.tab-pane(role='tabpanel') 2
          #messages.tab-pane(role='tabpanel') 3
          #settings.tab-pane(role='tabpanel') 4
          #settings-2.tab-pane(role='tabpanel') 4
      .s-menu__actions
        +btn('Показать еще').s-menu__more
