.s-menu {
  background-color: $bg-color--default;
  background-image: url(../img/menu-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;

  @media (min-width: $screen-md) {
    min-height: 1300px;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  &__tabs-list {
    border: 0;
    text-align: center;
    margin-bottom: 2rem;

    > li {
      margin: 0.5rem 0.25rem;
      float: none;
      display: inline-block;

      @media (min-width: $screen-md) {
        float: left;
        display: block;
        margin: 0;
      }

      > a {
        position: relative;
        display: inline-block;
        background-color: $primary-color;
        background-image: none;
        color: $text-color--lighter;
        margin: 0;
        padding: 0.75rem 0.75rem 0.5rem;
        border-radius: 10em;
        font-size: 0.875rem;
        font-weight: 600;
        letter-spacing: 0.015em;
        line-height: 1.2em;
        text-align: center;
        text-decoration: none;
        text-transform: none;
        vertical-align: middle;
        cursor: pointer;
        touch-action: manipulation;
        user-select: none;
        overflow: hidden;
        box-sizing: border-box;
        white-space: nowrap;
        z-index: 1;
        width: 8rem;

        @media (min-width: $screen-sm) {
          font-size: 1rem;
          width: 10rem;
        }

        &:hover,
        &:focus {
          background-color: $primary-color--variant;
          color: $text-color--lighter;
        }
      }

      &.active {

        > a {
          background-color: $primary-color--variant;
          color: $text-color--lighter;

          &:hover,
          &:focus {
            background-color: $primary-color--variant;
            color: $text-color--lighter;
          }
        }
      }
    }
  }

  &__tabs-item {

    @media (min-width: $screen-md) {
      width: 20%;
      text-align: center;
    }
  }

  &__tabs-content {
    position: relative;
  }

  &__tabs-content-title {
    position: absolute;
    margin: 0.5rem;
    top: 0;
    left: 50%;
    transform: translate3d(-50%,0,0);
    padding: 0.5rem;
    display: none;

    @media (min-width: $screen-sm) {
      font-size: 1.875rem;
      display: block;
    }
  }

  &__actions {
    text-align: center;
    margin-top: 3rem;
  }

  &__slider {
    padding-top: 3rem;

    .slick-arrow {
      position: absolute;
      top: 0;
      margin: 0.5rem;
      font-weight: 600;
      font-size: 0.875rem;

      @media (min-width: $screen-sm) {
        font-size: 1.125rem;
      }

      > svg {
        stroke: currentColor;
        display: block;
        position: absolute;
        bottom: -1rem;
      }
    }

    .slick-prev {
      left: 0;
    }

    .slick-next {
      right: 0;

      > svg {
        right: 0;
      }
    }
  }
}