.s-field-toggler {
  display: block;
  margin-bottom: 1rem;

  &__title {
    @include field-name;
  }

  &__input-wrap {

    & + & {
      margin-top: 1rem;
    }
  }

  &__name {
    position: relative;
    display: inline-block;
    padding-left: 3rem;
    margin-right: 0.5rem;
    font-weight: 400;
  }

  &__name-text {
    display: inline-block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &::before,
    &::after {
      content: '';
      position: absolute;
      transition: all 0.25s ease 0s;
    }

    &::before {
      top: 1px;
      left: 1px;
      width: 40px;
      height: 22px;
      background: $gray-lighter;
      border-radius: 12px;

      @at-root input:focus ~ & {
        @include field-focus;
      }
    }

    &::after {
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      background: #fff;
      border-radius: 50%;
      box-shadow: 0 2px 8px rgba($text-color, 0.25);
    }

    @at-root input:checked ~ &::before {
      background: #52D66B;
    }

    @at-root input:checked ~ &::after {
       transform: translate3d(18px,0,0);
    }
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
  }

  &__help-text-wrap {
    padding-left: 3rem;
  }

  &__help-text {
    @include field-help-text;
  }
}
