extends pug/layout.pug

block meta
  - var title = 'Main Page';
  title= title
  meta(name='description', content='')

block header
  +page-header

block content
  +promo
  +menu

  +description('align-left, image-bigger', 'img/description-5.jpg')
    h2.s-description__title.s-main-subtitle Вступление заголовок
    p.
      Наша компания приготовила для вас Меню комплексных обедов, а также Фитнес меню, постное меню, каши дня и большой выбор выпечки, пирожков, блинов, сырников, запеканок с разничными начинками и свежесваренный ягодный морс.
    p
      | Вкусные обеды в офис для любителей сытно покушать и соблюдающих диету.
      br
      | Вы может заказать у нас Свадебный кулич! По предзаказу испечём пробный кулич для Вас.

  +briefly-about-us

  +description('align-right, image-bigger', 'img/description-6.jpg')
    h2.s-description__title.s-main-subtitle Комплексный обед
    p.
      Комплексный обед включает горячее первое, горячее второе и салат. Можно заказать все блюда или отдельные – например, оказаться от супа или салата. Доставка обедов осуществляется в специальных контейнерах, сохраняющих температуру и свежесть продуктов на 5 часов. Еда обязательно дополняется хлебом, солью, салфетками, одноразовыми приборами. Дополнительно можно заказать кетчуп, горчицу и специи.
    p Свежие обеды из качественных продуктов: быстро, вкусно, недорого

  +advantages
  +specialization

  +description('align-left', 'img/description-1.jpg')
    h2.s-description__title.s-main-subtitle Выбирайте меню
    p
      | «СПЛЭТ кетринг сервис» предлагает яства традиционной русской и европейской кухни.
      b.upper  ЕЖЕДНЕВНО
      b  3 варианта меню на выбор.
      br
      | Выбирайте суп мясной или постный-овощной в разделе “Меню”
      p Комплексный горячий обед состоит из:
      ul
        li салата;
        li горячего первого;
        li и горячего второго.
      p Обязательно прилагаются: хлеб, соль, салфетки, одноразовые приборы.  По желанию заказ дополним кетчупом, горчицей и специями.

  +description('align-right', 'img/description-2.jpg')
    h2.s-description__title.s-main-subtitle Стоимость
    p
      | Стоимость c учетом доставки комплексного обеда в офис —
      b  180 рублей.
    p
      b: em Дополнительно закажите:
    ul
      li свежий морс на выбор, готовится поварами ежедневно: из брусники, клюквы, лесной и садовой ягоды
      li соус к обеду на выбор: сливочный соус хрен; томатный соус с кинзой; соус тар-тар
    p
      b: em По желанию сделаем заказ
      |  без супа или без салата. Варианты и стоимость обеда с доставкой смотрите в разделе
      b  “Цена”.

  +description('align-left', 'img/description-3.jpg')
    h2.s-description__title.s-main-subtitle Горячая еда в офисе каждый день
    p Cпециальные термоконтейнеры сохраняют еду теплой в течение 4 - 5 часов.
    p В любое время суток ОСТАВЬТЕ заявку, мы перезвоним.
    p Обслуживаем офисы Санкт-Петербурга или Ленобласти (ЛО)
    +btn('Оставить заявку', 'ghost')(type='button', data-toggle='modal', data-target='#myModal')

  +special-offers
    h2.s-special-offers__title.s-main-subtitle Предложения сезона
    .row
      .col-xs-12.col-sm-4
        +special-offer-card(
          'img/special-offer-1.jpg',
          'Сырники'
        )
      .col-xs-12.col-sm-4
        +special-offer-card(
          'img/special-offer-2.jpg',
          'Пончики'
        )
      .col-xs-12.col-sm-4
        +special-offer-card(
          'img/special-offer-3.jpg',
          'Запеканка творожная'
        )

  +random-recipes

  +special-offers
    h2.s-special-offers__title.s-main-subtitle
      | Предложения
      span.upper  Сплэт
    .row
      .col-xs-12.col-sm-4
        +special-offer-card(
          'img/special-offer-5.jpg',
          'Сок “J7”, 0,2 л'
        )
      .col-xs-12.col-sm-4
        +special-offer-card(
          'img/special-offer-4.jpg',
          'Постное меню'
        )
      .col-xs-12.col-sm-4
        +special-offer-card(
          'img/special-offer-6.jpg',
          'Ессентуки №4, 17'
        )

  +description('align-right, image-smaller', 'img/description-4.jpg')
    h2.s-description__title.s-main-subtitle Как мы готовим еду
    p
      | Компания «СПЛЭТ кетринг сервис» — это профессиональное приготовление комплексных обедов и выпечки в Петербурге, внимание сотрудников сконцентрировано на данном направлении. Ежедневно сотрудники компании контролируют приготовление блюд, которые вы заказываете каждый день. Начинается контроль с этапа оценки качества закупаемых продуктов и заканчивается контролем времени прибытия курьера с едой. Мы закупаем продукты ежедневно под количество заказов, поэтому используем только свежие компоненты для приготовления еды и выпечки. Это залог того, что на стол попадет только свежий салат, горячий суп и второе. Выпечка выпекается в ночь накануне перед заказом, а приготовление еды начинается ранним утром. Ежедневно предлагаем 2 вида меню. Блюда тщательно подбираются, сотрудники компании составляют рацион с 2003 года, и знают как сделать сбалансированное питание и учесть пожелания клиентов.
      br
      |  Приятного аппетита! Не забывайте посещать раздел с рецептами СПЛЭТ, где публикуются проверенные рецепты шеф-повара для праздника и на каждый день.

  +modal

block footer
  +page-footer