@font-face {
  font-family: Gilroy;
  src: url('../fonts/gilroy-400-normal.woff2') format('woff2'),
       url('../fonts/gilroy-400-normal.woff') format('woff'),
       url('../fonts/gilroy-400-normal.ttf') format('truetype');;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Gilroy;
  src: url('../fonts/gilroy-600-normal.woff2') format('woff2'),
       url('../fonts/gilroy-600-normal.woff') format('woff'),
       url('../fonts/gilroy-600-normal.ttf') format('truetype');;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Gilroy;
  src: url('../fonts/gilroy-700-normal.woff2') format('woff2'),
       url('../fonts/gilroy-700-normal.woff') format('woff'),
       url('../fonts/gilroy-700-normal.ttf') format('truetype');;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}