// Width

$screen-xs:                   375px;
$screen-sm:                   768px;
$screen-md:                   992px;
$screen-lg:                   1200px;
$screen-xl:                   1440px;
$screen-xxl:                  1920px;


// Colors

$black:                       hsl(0, 0%, 0%);
$gray-darkest:                hsl(0, 0%, 15%);
$gray-darker:                 hsl(0, 0%, 20%);
$gray-darken:                 hsl(0, 0%, 30%);
$gray-dark:                   hsl(0, 0%, 40%);
$gray:                        hsl(0, 0%, 50%);
$gray-light:                  hsl(0, 0%, 60%);
$gray-lighten:                hsl(0, 0%, 70%);
$gray-lighter:                hsl(0, 0%, 85%);
$gray-lightest:               hsl(0, 0%, 97%);
$white:                       hsl(0, 0%, 100%);

$primary-color:               #3e5526;
$primary-color--variant:      #90a832;

$text-color:                  #18232a;
$text-color--muted:           #6b7776;
$text-color--lighter:         #f4f6e8;
$text-color--lightest:        $white;

$bg-color--darker:            $text-color;
$bg-color--default:           $white;
$bg-color--lighter:           $text-color--lighter;

$heading-color:               $gray-darker;
$caption-color:               $gray-light;

$border-color:                currentColor;
$border-radius:               10px;

$opacity:                     0.5;
$box-shadow:                  0px 5px 22.5px 2.5px rgba(56, 56, 56, 0.15);
