.s-special-offers {
  padding-top: 1rem;
  padding-bottom: 1rem;

  @media (min-width: $screen-sm) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  &__title {

    @media (min-width: $screen-md) {
      margin-bottom: 4rem;
    }
  }
}