$hamburger-width:         60px;
$hamburger-height:        60px;
$hamburger-radius:        $hamburger-width / 2;
$hamburger-color:         $primary-color;

.s-hamburger {
  width: $hamburger-width;
  height: $hamburger-height;
  padding: 0;
  position: relative;
  cursor: pointer;
  background-color: $text-color--lighter;
  border-radius: $hamburger-radius;
  vertical-align: middle;

  span {
    display: inline-block;
    width: 18px;
    height: 4px;
    background-color: $hamburger-color;
    position: absolute;
    top: calc(50% + 0.25rem);
    left: 50%;
    transform: translate3d(-50%,-20%,0);
    border-radius: 2px;

    &::before {
      position: absolute;
      content: '';
      display: block;
      width: 18px;
      height: 4px;
      border-radius: 2px;
      left: 0;
      background-color: inherit;
    }

    &::before {
      top: -0.5rem;
    }
  }
}